body{
    margin: 0;
    font-family: monospace;
}
/****************************/
/*             colores              */
.fondo_inicio{
    background: rgb(4,26,58);
background: linear-gradient(90deg, rgba(4,26,58,0.7987570028011204) 23%, rgba(16,230,227,1) 28%, rgba(0,206,255,0.4542191876750701) 76%, rgba(2,0,36,0.5438550420168067) 83%);
}
.texto_blanco{
     color: white;
}
.fondo_blanco{
    background-color: white;
}
.texto_azul{
    color: rgba(0,206,255,0.4542191876750701);
}
 .header{
     padding: 8px 10%;
 }
 .logo{
     font-size: larger;
     font-weight: 900;
     letter-spacing: 2px;
     text-align: left;
     margin: 10px 0;
 }
 .container{
     padding: 20px 30px;
     text-align: justify;
 }
 .container h1{
     text-align: center;
 }
 footer{
     text-align: center;
 }
 .header ul{
     list-style: none;
     text-align: right;
     margin: 0;
 }
.header li{
    display: inline-block;
}

 .header ul li a {
     text-decoration: aqua ;
 }
 button{
     margin-left: 50%;
     transform: translateX(-50%);
     background-color: blue;
     border: none;
     padding: 10px 15px;
     border-radius: 50%;
 }
 button a{
     color: aqua;
     text-decoration: none;
 }
 .Main img{
     width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
 }